<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='signupin.css')}}">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {% endif %}
    {% endwith %}

    <header>
      <div class="header-container">
        <h2>Sign up</h2>
  
        <div class="top-right">
  
          <!--홈 버튼-->
          <form action="/home" method="POST">
            <button type="submit">Home</button>
          </form>
        </div>
      </div>
    </header>


    <main>
      <div class="vertical-container">
        <div class="form-container">
          <form action="/submit_signup" method="POST" style="text-align:right">
            <label for="id">ID:</label>
            <input type="id" id="id" name="id"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <label for="check_password">Check Password:</label>
            <input type="password" id="check_password" name="check_password"><br><br>
            <button type="submit" value="Sign Up">Sign up</button>
          </form>
        </div>
        <br><br><br><br>
        <div class="signin-container" style="display: flex; flex-direction:column; justify-content: center; align-items: center; text-align: center;">
          <p>Already have an account?</p>
          <form action="/signin" method="POST">
            <button type="submit">Sign in</button>
          </form>
        </div>
      </div>
      
    </main>

    <footer>
      <div class="footer-container">
        <p>© 2023 Coin Trading Marketplace. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
